<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<hr>
<h3>Hello Ruby On Rails</h3>
<pre>
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya , \\
    //   RoR!  \\
    `-._______.-'
    ___`. | .'___
   (______|______) 
</pre>
<%= link_to '所有文章列表',controller:'articles' %>